/outputs
*.ipynb_checkpoints
*.pyc
__pycache__/
/data/outputs
*.log
/data/vector/
/ppts
/notebooks/notebook2markdown.ipynb
/notebooks/02_machine_learning.ipynb
/notebooks/02_geospatial/*.ipynb
/notebooks/03_geocloud/*.ipynb
/notebooks/04_applications/*.ipynb